/* Login.module.css */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #4CAF50, #81C784);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #313131;
  text-align: center;
}

.error {
  color: #ff3300;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: -10px;
}



.icon {
  color: #666;
  font-size: 1.2rem;
  margin-right: 8px;
}


.inputField::placeholder {
  color: #aaa;
}


p {
  font-weight: 700;
  color: #000;
  text-align: center;
}

p span a {
  font-weight: bold;
  color: #9900ff;
  text-decoration: none;
}

p span a:hover {
  text-decoration: underline;
}
.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

.button {
  outline: none;
  border: none;
  background-color: #9900ff;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:disabled {
  background-color: gray !important;
  cursor: not-allowed;
}

.button:hover {
  background-color: #aa2aff;
}

.error {
  font-weight: bold;
  font-size: 0.875rem;
  color: #ff3300;
  text-align: center;
  margin-top: 10px;
}
